{% load static %}
<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
            integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}DITAI Ingeniería{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <!-- Preload de la imagen crítica -->
        <link rel="preload" as="image" href="{% static 'img/fondo-app.webp' %}">
    </head>

    <body data-section="{{ section|default:'' }}">
        <nav class="navbar navbar-expand-lg navbar-custom">
            <div class="container">
                <a href="{% url 'core:home' %}" class="navbar-brand">
                    <img src="{% static 'img/FullLogo.webp' %}" alt="Logo" class="logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'core:home' %}">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'core:nosotros' %}">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'core:servicios' %}">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'core:contacto' %}">Contacto</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        
        <main>
            {% block content %}{% endblock %}
        </main>


        <button id="scrollToTopBtn" class="scroll-to-top-btn" data-home-url="{% url 'core:home' %}">
            <i class="fa-solid fa-arrow-up"></i>
        </button>


        <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
        <script src="{% static 'js/index.js' %}"></script>


    </body>

</html>